body, html {
    margin: 0px;
    padding: 0p;
    min-width: 640px;
}

.my-container {
    background-color: rgb(66, 59, 52);
    
}

.greetings-head {
    text-align: center;
}

.profile-pic {
    width: 100px;
}

.welcome-column {
    background-color: rgb(66, 59, 52);
    color: white;
    padding-top: 2em;
    padding-bottom: 3em;
    
}

.welcome-column2 {
    max-height: 600px;
}
.welcome-links {
    color: white;
    height: 80%;
    
}

#compose-button {
    width: 60%;
    color: white;
    margin-top: 2em;
    padding: .6em;
    width: 120px;
}

.email-list-column {
    background-color: rgb(236, 236, 233);
    padding-top: 2em;
    
}

#search-glass {
    position: relative;
    height: 1.6em;
    width: 1.6em;
    /* border: 1.5px solid black; */
    border-right: none !important;
    margin-left: 2.5%;
}


.search-emails {
    margin-bottom: 3em;
    /* border: 1.5px solid black; */
    border: none;
    width: 60%;
}

.email-card {
    background-color: rgb(240, 240, 235);
    margin: .2em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.linkedin-header {
    background-color: rgb(240, 240, 235);
    margin: .2em;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.linkedin-card {
    font-size: 1.2em;
    font-weight: bold;
    
}

.card-body {
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-top: .4em;
}

.mscott-email {
    z-index: 5;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(66, 59, 52);  
}

.email-header {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}



/* making card text non-underlined */
a:link {text-decoration: none;}
a:hover {text-decoration: none;}

.email-card:hover {
    z-index: 5;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(66, 59, 52);  
}

/* .linkedin-header:hover {
    z-index: 5;
    background-color: white;
    box-shadow: 7px 7px 7px rgb(66, 59, 52);  
} */

.email-content-column {
    background-color: white;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 10em;
    height: 100vh;
}

.header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;

}

.email-header-buttons {
    height: 1.2em;
    width: auto;
    margin-right: 12px;
}

.email-to-from {
    font-size: smaller;
    margin-bottom: 2.8em;
    display: flex;
    justify-content: space-between;
}

.email-content-top {
    display: flex;
    justify-content:space-between;
    padding-left: 0em;
}


#beet-photo {
    width: 200px;
    margin: 15px;
}

#uncle-photo {
    width: 200px;
    margin: 15px;
}

.beet-tooltip-text {
    visibility: hidden;
}

.beet-tooltip:hover .beet-tooltip-text {
    visibility: visible;
}

.uncle-tooltip-text {
    visibility: hidden;
}

.uncle-tooltip:hover .uncle-tooltip-text {
    visibility: visible;
}

.reply-area {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    padding-bottom: 0em;
    margin-top: 5em;
    border: 2px solid dimgray;
    border-radius: 11px;
    width: 100%;
    height: 30%;
}

.email-reply-field {
    align-items: flex-start;
    justify-content: left;
    border: none;
    height: 95%;
    margin-bottom: 1.4em;
}

.reply-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

#attach-icon {
    height: 48px;
    width: auto;
}